body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */

  .box3 {
      display: flex;
      flex: 1;
      justify-content: space-between;
  }
  .redBox3 {
      width: 80px;
      background-color: red;
  }
  .blueBox3 {
      width: 80px;
      background-color: blue;
  }

  .box4 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    background-color: red;
  }

  .box5 {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
  }
  .redBox5 {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: red;
  }

  .box6 {
      display: flex;
      flex: 1;
      justify-content: center;
      background-color: red;
  }
  .blueBox6 {
      background-color: blue;
      width: 80px;
  }

  .box7 {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: blue;
  }
  .redBox7 {
      width: 80px;
      height: 100%;
      background-color: red;
  }
  .greenLine7 {
    background-color: green;
    width: 100%;
    height: 20px;
  }

  .box8 {
      display: flex;
      flex: 1;
      justify-content: space-between;
  }
  .yellowBox8 {
      width: 80px;
      background-color: orange;
  }

  .box9 {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    background-color: orange;
}
.greenBox9 {
    width: 10px;
    background-color: green;
}